/***** BASE STYLES *****/
@font-face {
  font-family: 'GeosansLight';
  src: url('fonts/GeosansLight.ttf') format('truetype');
}

body {
  font-family: 'Charter', serif;
}

/***** GRID *****/

.full-width {
  width: 1200px;
  margin: 0 auto;
}

.half-width {
  width: 600px;
  float: left;
}

.third-width {
  width: 400px;
  float: left;
}

/* unvisited link */
a:link {
    color: #000000;
}

/* visited link */
a:visited {
    color: #000000;
}

/* mouse over link */
a:hover {
    color: #e06d5f;
}

/* selected link */
a:active {
    color: #e06d5f;
}

/***** HEADER *****/

header {
  height: 250px;
  background: url('../img/hero-bg3.jpg');
  background-size: cover;
  position: relative;
  top: -67px;
}

header h1 {
  font-family: 'GeosansLight', sans-serif;
  font-size: 100px;
  font-weight: 100;
  color: #59437e;
  text-transform: uppercase;
  text-align: center;
  padding: 95px 0;
}

header h2 {
  font-family: 'Satisfy', cursive;
  font-size: 36px;
  font-weight: 100;
  color: #000000;
  text-align: center;
  margin-top: -150px;
}

header h2 span {
  color: #e06d5f;
}

nav {
  background: #ffffff;
  height: 100px;
  color: #000000;
  text-align: center;
  clear: both;
}

nav ul li {
  display: inline-block;
  margin-top: -20px;
}

nav ul li a {
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'GeosansLight', sans-serif;
  font-weight: 100;
  font-size: 24px;
  padding: 0 10px 0 0;
}

/***** ABOUT *****/

#about {
  background: #f9f5fc;
  padding: 50px 0;
  height: 600px;
}

#about img {
  margin-left: 75px;
}

#about h3 {
  font-family: 'GeosansLight', sans-serif;
  font-size: 40px;
  font-weight: 100;
  line-height: 45px;
  color: #59437e;
}

#about p {
  font-size: 18px;
  color: #000000;
  line-height: 24px;
  padding-right: 50px;
}

/***** SERVICES *****/

#services {
  background: #ffffff;
  padding: 50px 0;
  text-align: center;
  height: 900px;
}

#services img {
  border: 1px solid #000000;
}

#services h3 {
  font-family: 'GeosansLight', sans-serif;
  font-size: 40px;
  font-weight: 100;
  color: #59437e;
  text-transform: capitalize;
}

#services h3:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 600px;
    padding-top: 20px;
    border-bottom: 1px solid #59437e;
}

#services h4 {
  font-family: 'GeosansLight', sans-serif;
  font-size: 24px;
  font-weight: 100;
  color: #59437e;
}

#services p {
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

/***** RECOMMENDATIONS *****/

#recommendations {
  background: #f6f6f6;
  padding: 50px 0;
  text-align: center;
  height: 900px;
}

#recommendations h3 {
  font-family: 'GeosansLight', sans-serif;
  font-weight: 100;
  font-size: 40px;
  color: #59437e;
  text-transform: capitalize;
}

#recommendations h3:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 600px;
    padding-top: 20px;
    border-bottom: 1px solid #59437e;
}

#recommendations .full-rec {
  width: 800px;
  height: 350px;
  margin-left: auto;
  margin-right: auto;
  clear: both;
}

#recommendations .one-rec-img {
  width: 250px;
  float: left;
}

#recommendations .one-rec-copy {
  width: 550px;
  float: left;
}

#recommendations .two-rec-img {
  width: 250px;
  float: left;
}

#recommendations .two-rec-copy {
  width: 550px;
  float: left;
}

#recommendations .one-rec-copy h4 {
  font-family: 'Satisfy', cursive;
  font-size: 24px;
  font-weight: 100;
  color: #000000;
  text-align: left;
  padding-left: 60px;
}

#recommendations .one-rec-copy p {
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  width: 450px;
  text-align: left;
  padding-left: 60px;
}

#recommendations .two-rec-copy h4 {
    font-family: 'Satisfy', cursive;
    font-size: 24px;
    font-weight: 100;
    color: #000000;
    text-align: right;
    padding-right: 60px;
}

#recommendations .two-rec-copy p {
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    width: 450px;
    text-align: right;
    padding-left: 40px;
}

#recommendations a {
  font-family: 'GeosansLight', sans-serif;
  font-size: 24px;
  color: #59437e;
  font-weight: bold;
  text-decoration: none;
}

/***** CONTACT *****/

#contact {
  background: #2e2d7d;
  height: 800px;
  padding: 50px 0;
  text-align: center;
}

#contact h3 {
  font-family: 'GeosansLight', sans-serif;
  font-size: 40px;
  font-weight: 100;
  color: #f6f6f6;
  text-transform: capitalize;
}

#contact h3:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 600px;
    padding-top: 20px;
    border-bottom: 1px solid #f6f6f6;
}

#contact img {
  border: 1px solid #f6f6f6;
}

#contact p {
    font-size: 16px;
    line-height: 22px;
    color: #f6f6f6;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2px;
}

#contact h4 {
  font-family: 'GeosansLight', sans-serif;
  font-weight: 100;
  font-size: 24px;
  color: #f6f6f6;
}

#contact h5 {
  font-family: 'GeosansLight', sans-serif;
  font-weight: 100;
  font-size: 36px;
  color: #f6f6f6;
  margin-top: 10px;
  margin-bottom: 20px;
}

#contact h6 {
  font-size: 18px;
  line-height: 22px;
  color: #979ad1;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;;
  margin-bottom: 0;
}

#contact a {
  color: #979ad1;
  font-family: 'GeosansLight', sans-serif;
  font-weight: 100;
  font-size: 24px;
  text-decoration: none;
}

form {
  margin: 0 auto;
  width: 400px;
  padding: 1em;
}

form div + div {
  margin-top: 1em;
}

input, textarea {
  font: 1em;
  width: 300px;
  box-sizing: border-box;
  border: 1px solid #999;
}

input:focus, textarea:focus {
  border-color: #000000;
}

textarea {
  vertical-align: top;
  height: 5em;
}

button {
  margin-left: .5em;
  background-color: #979ad1;
  width: 90px;
}

/***** FOOTER *****/

footer {
  height: 50px;
  background: #ffffff;
  text-align: center;
}

footer h1 {
  font-family: 'GeosansLight', sans-serif;
  font-size: 20px;
  font-weight: 100;
  color: #5b467f;
}

footer a {
  text-decoration: none;
}
